* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
  font-family: sans-serif;
}

.container {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.bg-layer {
  height: 100vh;
}

.bg-layer img {
  height: inherit;
  transition-duration: 500ms;
}

.text-layer {
  position: absolute;
  z-index: 1;
}

.text-layer div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: opacity 500ms ease-out;
}

.text-layer div:not(.active) {
  opacity: 0;
}

.btn-layer {
  position: absolute;
  z-index: 10;
  width: inherit;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

/*
#left-btn, #right-btn {
  cursor: pointer;
}*/


