* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
  font-family: sans-serif;
}

.container {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

/* Background */
.bg {
  height: 100vh;
}

.bg img {
  height: inherit;
  transition-duration: 500ms;
}

/* Text */
.texts {
  position: relative;
  z-index: 1;
}

.texts div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: opacity 500ms ease-out;
}

.texts div:not(.active) {
  opacity: 0;
}

/* Buttons */
#prev-btn {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

#next-btn {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  transition: opacity 500ms ease-out;
}

/* Indicators */
.slide-indicator {
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 0;
}
